/* Dimensions consolidate as: top right bottom left. */
body {
    text-align: center;
    font-family: sans-serif;
    font-size: calc(4px + .5vw); /* Results in .5vw with minimum of 4px */
    margin: 2vw;
    background-image: url("../image/PubDomain_FadedRock.jpg");
}

h1 {
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(6px + 4vw);
    margin: -1vw 0 1vw 0;
}

h3 {
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(6px + 1vw);
    margin: 0;
}

canvas {
    float: left;
    width: inherit;
    height: inherit;
    margin: 1vw 0 0 0;
    background-color: #e8e8e8;
}

table {
    table-layout: fixed;
    margin: 0 0 8vw 0; /* TO DO: Research/Analyze. Bottom not fully working, but has some partial effect. (???)  */
    padding: 0;
}

td {
    width: 1%;
    height: 1%;
    padding: 0;
}

.hangmanWord {
    font-family: "Courier New", "Courier", monospaced, serif;
    letter-spacing: .5vw;
    font-size: calc(12px + 8vw);
    font-weight: 500;
    text-align: center;
    margin: -2vw 2vw 2vw 2vw;
    /* color: darkgreen;                /*  Original */
    color: #759B67; /*  Alternate Green: #B9CE2B    */
}

.hidden {
    visibility: hidden;
}
.letterBtn {
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(8px + 3vw);
    font-weight: normal;
    width: 100%;
    text-align: center;
    padding: 0;

}

select {
    text-align: left;
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(4px + .5vw);
    margin: 1vw auto auto auto;
}

.helpText {
    text-align: left;
    font-family: sans-serif;
    font-size: calc(6px + .75vw);
    margin: 1vw auto auto auto;
}

.helpEnd {
    margin-bottom: 2.5vh;
}

.modalText {
    text-align: left;
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(6px + .75vw);
    margin: 1vw auto auto auto;
}

.modalHeading {
    font-weight: bold;
    font-size: calc(6px + 1vw);
}

.modalLabel {
    white-space: nowrap;
    overflow: scroll;
}

.indent {
    margin-left: 2vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Color for browsers not supporting opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    text-align: left;
    background-color: #fefefe;
    margin: auto auto 20vh;
    padding: 1vw;
    border: 1px solid #888;
    width: 80vw;
}

.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: calc(12px + 5vw);
    font-weight: bold;
    position: relative;
    top: -1.7vw;
    left: .5vw;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.iconButtonImage {
    width: 3vw;
    min-width: 8px;
    min-height: 8px;
    padding: 0;
    border: thin solid transparent; /* Transparent non-hover border prevents shifting icons on hover.  */
    vertical-align: -.09em;
}

.iconButtonImage:hover {
    background-color: lightgray;
    border-color: black;
}

.iconButtonSpacer {
    width: 1.5vw;
    min-width: 4px;
    min-height: 4px;
    padding: 0;
}




grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
}

grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: auto;
}


.left {
    border-right: 1vw solid black;
}

.right {
    border-left: 1vw solid black;
}

.top {
    border-bottom: 1vw solid black;
}

.bottom {
    border-top: 1vw solid black;
}



.gameLetter {
    font-size: 12vw;
}

.gameWin {
    background-color: #A82E5D;;
}

.gameTie {
    background-color: #759B67;
}

.letterBtnDefault {
    background-color: #e8e8e8;
    /* Need color medium dark grey? */
}


.letterBtnActive {
    /* background-color: lightcyan;     /*  Original */
    background-color: #5EBFB6; /*  Alternate Blue: #1B8996 or #0BA3D2   */
    color: black;
}

.letterBtnHit {
    /* background-color: darkgreen;      /*  Original */
    background-color: #759B67; /*  Alternate Green: #B9CE2B    */
    color: white;
}

.letterBtnMiss {
    /* background-color: darkred;       /*  Original */
    background-color: #A82E5D; /*  Alternate Red: #914318      */
    color: black;
}

/*.missedLetter {*/
    /*!* color: darkred;                  !*  Original *!*/
    /*color: #A82E5D; !*  Alternate Red: #914318      *!*/
/*}*/

.nowrap {
    white-space: nowrap;
}